figure  img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

figure img:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}